* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555555;
}

canvas{
  border-radius: 25px;
  background-color: #000000;
  border: 6px solid #ffffff;
}

.menu {
  z-index: 10;
  position: fixed;
  
  width: 800px;
  height: 500px;
  line-height: 500px;

  font-size: 35px;
  color: #ffffff;
  text-align: center;
}
