* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555;
}

canvas{
  background-color: #000000;
  border: 6px solid #ffffff;
  border-radius: 25px;
}

.menu {
  position: fixed;
  z-index: 10;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

h3 {
  margin: 35px 0;
}

ul {
  list-style-type: none;
}

li {
  margin: 25px;
  padding: 0 15px;
  border-color: #000000;
  border-style: dashed solid;
}

li:hover {
  border-color: #ffffff;
}
