* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555;
}

canvas{
  background-color: #000000;
  border: 6px solid #ffffff;
  border-radius: 25px;
}
